@import '../../../mixins/mixins.scss';

.CarouselSection {
	@include widthHeight(100vw, fit-content);
	@include flexDirJusAli(column, center, center);
	background: linear-gradient(
		to bottom,
		rgba(75, 179, 146, 0.75),
		rgba(64, 148, 121, 0.75)
	);
	.rec-carousel-wrapper {
		@include widthHeight(100%, 100%);
		max-width: 1000px;
		padding: 1em 0;
		.rec-carousel {
			.rec-slider-container {
				.rec-slider {
					.rec-swipable {
						.rec-carousel-item {
							.rec-item-wrapper {
								@include flexDirJusAli(
									column,
									center,
									center
								);
								.CarouselSection__title {
									font-size: 28px;
									font-weight: 900;
									color: rgba(255, 255, 255, 1);
								}
								img {
									outline-width: 0;
									outline: none;
									width: 95%;
									transform: scale(0.9);
									transition: all 0.5s ease-in-out;
									&:hover {
										transform: scale(1);
									}
								}
								.CarouselSection__price {
									font-size: 24px;
									font-weight: 400;
									color: rgba(243, 247, 28, 1);
								}
								button {
									@include widthHeight(fit-content, 100%);
									font-size: 14px;
									font-weight: 900;
									background: linear-gradient(
										to bottom,
										rgba(255, 255, 255, 0.75),
										rgba(200, 200, 200, 0.75)
									);
									padding: 0.5em 1em;
									margin: 1em;
									border-radius: 25px;
									border: 0px solid transparent;
									box-shadow: 0px 1px 3px rgb(0, 0, 0);
									outline: none;
									outline-width: 0;
									&:hover,
									&:active {
										background: linear-gradient(
											to top,
											rgba(255, 255, 255, 0.5),
											rgba(200, 200, 200, 0.5)
										);
										box-shadow: 0px 3px 3px rgb(0, 0, 0);
									}
								}
							}
						}
					}
				}
			}
		}
		.rec-pagination {
			transform: scale(0.75);
			.rec-dot {
				background: rgb(43, 102, 83);
				border-color: rgb(0, 0, 0);
				box-shadow: 0 0 1px 1px rgb(43, 102, 83);
			}
			.rec-dot_active {
				background: #ffffff;
				border-color: #ffffff;
				outline-color: #ffffff;
				box-shadow: 0 0 1px 1px #ffffff;
			}
		}
	}
	.CarouselSection__link {
		padding: 0em 0 0.5em;
		text-decoration: none;
		color: #235bf3;
		.CarouselSection__linkText {
			font-size: 20px;
			font-weight: 600;
		}
		&:hover {
			color: #ffffff;
		}
	}
}
